*{
    box-sizing: border-box;
    margin: 0;
}
/* the main wall */
.recordStation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background: rgb(255, 255, 241);
    border-top: 20px solid #bd4b16;
    position:relative;
    top: 30vh;
}
/* inner */
#rcdPlayer {
    width: 800px;
    height: 55vh;
    background: linear-gradient(100deg, #cb3e0b, #c43007);
    border-radius: 12px;
    margin-bottom: 200px;
}
/* Lower part of the turntable*/
.low {
    background-color: aqua;
    width: 250px;
    height: 27vh;
}
#turntable{
    display: flex;
    justify-content: space-between;
}
#playerBtns{
    position: relative;
    width: 250px;
    height: 27vh;
}
#controller {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #fdf9b4;
    border-radius: 50%;
    top: 35px;
    left: 100px;
}
#ear{
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 50px solid transparent; 
    border-bottom: 68px solid #fdf9b4;
    top: 97px;
    left: 72px;
}
.vinyl {
    width: 180px;
    height: 180px;
    background: #f9ee8f;
    margin: 20px 20px;
}
/* the sky */
.scene {
    width: 100%;
    height: 40vh;
    position: fixed;
    z-index: -1;
}
.scenery{
    width: 100%;
    height: 200px;
    /*background-color: aqua;*/
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 80px;
}
/* the outer wall */
#vbtn{
    height: auto;
    z-index: 3;
    position: relative;
    top: -10px;
}
.rcdButton{
    width: 105px;
}
.vbtnActive{
    width: 200px;
    left: 85%;
}
#recordStore {
    width: 100%;
    background: rgb(27, 26, 26);
    border-top: 10px double rgb(255, 255, 241);
    position: relative;
    z-index: 5;
    margin-top: 10px;
}
.recStore {
    height: 25vh;
    top: -13px;
}
.recStoreOpen{
 height: 50vh;
 top: -120px;
}
.rd{
    width: 140px;
    height: 140px;
    background: #f9ee8f;
    margin: 20px;
    display: inline-block;
}
/*
#records{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between; 
}
*/
#records {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
