#test{
    background-size: cover;
}

#rcdATracker{
    display: none;
}
.addTrack{
    width: 40px;
    height: 50px;
    background-color: #ea3030;
    position: absolute;
    border-radius: 0 15px 15px 0;
    left: -28px;
    top: 60px;
    cursor: pointer;
}
#inputs{
    padding-top: 30px;
    padding-left: 10px;
}
#hoverText{
    position: absolute;
    color: #988f8f;
    top: 160px;
    width: auto;
    height: 500px;
    font-size: 60px;
}

#addTracker{
    width: 650px;
    height: 55vh;
    background-color: #f0f0f0;
    margin-bottom: 150px;
    border: 2px solid #a7a5a5;
    display: flex;
    border-radius: 9px 0px 0px 0px;
}
#addTitle{
    text-align: center;
    width: 160px;
    font-size: 20px;
    letter-spacing: normal;
    font-weight: bold;
    color: #a7a5a5;
    margin: 11px 5px;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.inp {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 50px;
    background-color: rgb(168, 62, 12);
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    border-radius: 12px;
    font-size: 13px;
    margin: 20px 0px 0px 60px;
    box-shadow:
    inset 0 2px 5px rgba(0, 0, 0, 0.8),
    inset 0 -2px 5px rgba(0, 0, 0, 0.4);
}
#albumCover{
    display: flex;
    width: 180px;
    height: 180px;
    background: #fdf9b4;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: -10px;
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s ease-in;
    background-size: cover;
}
#albumCover:hover {
    background: #fbf857;
    background-size: cover;
}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.textBx{
    height: 30px;
    margin: 10px 20px 5px 10px;
    font-size: 13px;
    width: 180px;
}
#upload{
    width: 90px;
    height: 40px;
      color: rgb(249, 249, 249);
      cursor: pointer;
    font-weight: bold;
    background-color: rgba(220, 19, 12, 0.895);
    margin-left: 330px;
    margin-top: 30px;
    border-radius: 18px;
    border: 3px solid rgb(241, 241, 241);
    letter-spacing: normal;
}
#atRedFlag{
    width: 200px;
    height: 25px;
    background-color: #ea3030;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    position: relative;
    left: 450px;
}
#imgInp{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#audioInp{
    display: flex;
    margin-left: 35px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 10px;
    width: 160px;
    height: 30px;
    background-color: #f0f0f0;
    border: 2px solid #2b4bff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000000;
}

#loadSongs{
    display: flex;
    position: absolute;
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 10px;
    width: 130px;
    height: 30px;
    background-color: #f4c383;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #2f2e2e;
    top: 300px;
    margin-left: 10px;
}

#highTop{
    display: flex;
}
#spPlate{
    display: none;
    width: 180px;
    height: 180px;
    background-image: url(plate.png);
    background-size: cover;
    margin-left: 86px;
    margin-top: 20px;
    /* Define the rotation animation */
  animation: spin 8s linear infinite;
  /* Start with the animation paused */
  animation-play-state: paused;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
