.addTrack{
    width: 40px;
    height: 50px;
    background-color: #ea3030;
    position: absolute;
    border-radius: 0 15px 15px 0;
    left: -28px;
    top: 60px;
    cursor: pointer;
}

#hoverText{
    position: absolute;
    color: #988f8f;
    top: 160px;
    width: auto;
    height: 500px;
    font-size: 60px;
}

#addTracker{
    width: 650px;
    height: 55vh;
    background-color: #f0f0f0;
    margin-bottom: 150px;
    border: 2px solid #a7a5a5;
    display: flex;
}

#albumCover{
    display: flex;
    width: 180px;
    height: 180px;
    background: #fdf9b4;
    margin-left: 20px;
    margin-top: 18px;
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

#addTitle{
    text-align: center;
    width: 160px;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    color: #a7a5a5;
    margin: 11px 5px;
}

.inp {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 50px;
    background-color: rgb(34, 31, 31);
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    border-radius: 12px;
    font-size: 13px;
    margin: 25px 0px 0px 60px;
    box-shadow:
    inset 0 2px 5px rgba(0, 0, 0, 0.8),
    inset 0 -2px 5px rgba(0, 0, 0, 0.4);
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
#inputs{
    padding-top: 30px;
}
.textBx{
    height: 30px;
    margin: 10px 20px 5px 10px;
    font-size: 13px;
    width: 180px;
}
#upload{
    width: 70px;
    height: 40px;
      color: #fff;
      cursor: pointer;
    background-color: rgba(255, 185, 44, 0.895);
    transition: transform 0.1s, box-shadow 0.1s;
      font-weight: bold;
    margin-left: 350px;
    margin-top: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    border: none;
}
#atRedFlag{
    width: 200px;
    height: 25px;
    background-color: #ea3030;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    left: 882px;
    top: 20px;
    cursor: pointer;
}